.image_carousel { padding: 35px 60px; position: relative }
.image_carousel img { display: block; float: left; padding: 0; margin: 0 }
a.prev, a.next { width: 33px; height: 35px; display: block; position: absolute; top: 170px }
a.prev { background: url(../images/display_selector_left.png) no-repeat; left: 55px }
a.prev.disabled { background-position: 0 -100px !important }
a.next { background: url(../images/display_selector_right.png) no-repeat; right: 55px } 
a.next.disabled { background-position: -50px -100px !important }
a.prev.disabled, a.next.disabled { cursor: default }
a.prev span, a.next span { display: none }
.pagination { text-align: center }
.pagination a { background: url(../images/display_selector_pager.png) no-repeat; width: 15px; height: 15px; display: inline-block; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; filter: alpha(opacity=50); -moz-opacity: 0.5; -khtml-opacity: 0.5; opacity: 0.5 }
.pagination a.selected { -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; filter: alpha(opacity=100); -moz-opacity: 1.0; -khtml-opacity: 1.0; opacity: 1.0; cursor: default; background: url(../images/display_selector_pager.png) no-repeat !important }
.pagination a span { display: none }
.clearfix { float: none; clear: both }

#display-content { position: absolute; width: 100%; text-align: center; z-index: 999; top: -500px }
#display-selector { width: 745px; height: 500px; background: #001830; margin: auto; background: url('../images/display_selector_background.png') no-repeat bottom }
#selector-handle { width: 625px; height: 13px; position: absolute; top: 498px }
#selector-handle a { margin: auto; text-decoration: none; width: 60px; height: 13px; background: url('../images/top_menu.png'); display: block }
#selector-search { position: absolute; top: 424px; left: 330px }
#selector-search input { width: 108px; height: 16px; border: 0px; background: transparent; outline-width: 0 !important; outline: 0 none !important; color: #FFF }
#selector-search input:focus{ outline: 0 none }
#selector-ok { position: absolute; top: 424px; right: 254px; width: 24px; height: 24px }
#selector-ok a { width: 24px; height: 24px; display: block } 
#selector-groups { position: absolute; top: 424px; left: 210px; width: 80px; height: 16px }
#selector-groups a { color: #4d647f; text-decoration: none }
#selector-groups .caret { border-top: 4px solid #2f689c !important }
#selector-groups .dropdown-menu a { color: #92DFED !important }
#selector-groups .dropdown-menu { min-width: 100px !important }

.pagination { margin: -20px 20px 0px 20px !important }