#data { position: absolute; width: 250px; top: 0px; right: 0px; bottom: 0px; z-index: 8; background: #001830 url('../images/background.png') bottom repeat-x }
#data-handle { position: absolute; width: 32px; height: 9px; top: 8px; left: -7px; z-index:9 }
#data-handle-left { width: 14px; height: 9px; float: left; display: block; background: url('../images/arrow_left.png') no-repeat }
#data-handle-right { width: 14px; height: 9px; float: right; display: block; background: url('../images/arrow_right.png') no-repeat }
#data-content { margin: 20px; color: #FFF }
#data-content .title { font-size: 14px; font-weight: bold }
#data-content .device { color: #607996 }
#summary { position: absolute; top: 20px; left: 20px; right: 20px; height: 100px }
#summary-content { overflow-x: hidden; overflow-y: auto; height: 85px; font-size: 11px; margin-top: 12px }
#details-label { position: absolute; top: 150px; left: 20px; right: 20px; height: 10px }
#details { position: absolute; top: 180px; left: 20px; right: 20px; bottom: 20px; overflow-x: hidden; overflow-y: auto }
#details-content { overflow-x: hidden; overflow-y: auto; font-size: 11px }
#full-data-content { display:none; padding: 20px; width: 95%; height: 90% }

.thumb-failure { width: 7px; height: 7px; border: 1px solid #000; background: #C20B21; display:inline-block }
.thumb-active { width: 7px; height: 7px; border: 1px solid #000; background: #3C8E05; display:inline-block }
.thumb-abnormal { width: 7px; height: 7px; border: 1px solid #000; background: #E0E000; display:inline-block }
.thumb-warning { width: 7px; height: 7px; border: 1px solid #000; background: #CF6700; display:inline-block }

.tab-content { overflow: auto !important; position: absolute !important; top: 100px !important; left: 20px !important; bottom: 20px !important; right: 20px !important }
.tab-filters { position: absolute; top: 70px; left: 40px; display: block }
.tab-filters a { margin-right: 10px; color: #607996; text-decoration: none }
.tab-filters .caret { border-top: 4px solid #2f689c !important }	
.nav-tabs { border-bottom: 1px solid #273849 !important }
.nav-tabs a { background-color: #5A6978 !important; color: #000 }
.nav-tabs .active a { background-color: #1a3046 !important; border: 1px solid #1a3046 !important; color: #FFF }
.nav-tabs .active a:hover { border: 1px solid #FFF !important; color: #FFF }

.table-striped thead tr td, .table-striped thead tr th { background-color: #002350; color: #5995c8 }
.table-striped tbody tr td, .table-striped tbody tr th { background-color: #001729; color: #FFF }
.table-striped tbody tr:nth-child(odd) td, .table-striped tbody tr:nth-child(odd) th { background-color: #001c3c; color: #FFF }

#filter-device { display:none }
#filter-failure-other { display:none }